
a{
color: LightSlateGray;
}
/* mouse over link */
a:hover {
  color: hotpink;
}



 
.navbar-default .navbar-brand {
 
  color: lightpink;
 
}
 
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
 
  color: lightpink;
 
}
 
.navbar-default .navbar-text {
 
  color: lightpink;
 
}
 
.navbar-default .navbar-nav > li > a {
 
  color: lightpink;
 
}
 
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {

  color: #e5dbdb;

}
 
.navbar-default .navbar-nav > li > .dropdown-menu {

  background-color: #122837f;

}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {

  color: #black;

}
 
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
 
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {

  color: #e5dbdb;

  background-color: #122837;

}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {

  background-color: #122837f;

}
 
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
 
  color: #e5dbdb;

  background-color: #122837;
 
}
 
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {

  color: #e5dbdb;

  background-color: #122837;

}

.navbar-default .navbar-toggle {

  border-color: #122837;

}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {

  background-color: #122837;

}

.navbar-default .navbar-toggle .icon-bar {

  background-color: #d7e2e9;

}

.navbar-default .navbar-collapse,

.navbar-default .navbar-form {

  border-color: #d7e2e9;

}

.navbar-default .navbar-link {

  color: #black;

}

.navbar-default .navbar-link:hover {

  color: #black;

}



@media (max-width: 767px) {

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {

    color: #black;

  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {

    color: #black;

  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {

    color: #black;

    background-color: #122837;

  }

}




.navbar-default .navbar-brand {

  color: lightpink;

}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {

  color: lightpink;

}

.navbar-default .navbar-text {

  color: lightpink;

}

.navbar-default .navbar-nav > li > a {

  color: lightpink;

}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {

  color: white;


}

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {

    color: white;

  }

