mkdocs
mkdocs-material==9.6.9
mkdocs-simple-plugin
pytkdocs[numpy-style]
jinja2==3.0.3
Pygments
mkdocstrings-python-legacy
mike
mkdocs-monorepo-plugin
mkdocs-same-dir
mkdocs-redirects
mkdocs-glightbox
mkdocs-include-markdown-plugin
mkdocs-jupyter
